<template>
  <div class="appcontents">
    <file-list :class="{ hidden : noFiles }" />
    <div
      class="start-page"
      :class="{ hidden : !noFiles }"
    >
      <open-file-button
        class="start-page-button"
        :class="{ hidden: this.$store.state.dragOver }"
        icon="plus"
        icon-size="7"
      />
    </div>
  </div>
</template>

<script>
import FileList from './FileList.vue'
import OpenFileButton from './OpenFileButton.vue'

export default {
  name: 'AppContents',
  components: {
    FileList,
    OpenFileButton
  },
  computed: {
    noFiles () {
      if (this.$store.getters.totalFiles === 0) {
        return true
      }
    }
  }
}
</script>

<style scoped>
.start-page-button {
  color: #333;
  background: transparent;
  position: fixed;
  top: 60px;
  bottom: 30px;
  overflow: auto;
  border: 5px dashed #333;
  border-radius: 25px;
  width: 100%;
  margin-left: -5px;
}
.start-page-button:hover {
  color: rgb(89, 89, 89);
  border: 5px dashed rgb(89, 89, 89);
}
.start-page-button:active {
  color: rgb(239, 239, 239);
  border: 5px dashed rgb(239, 239, 239);
}
.start-page-button:focus {
  outline: 0;
}
</style>

<style>
.hidden {
  display: none !important;
}

.appcontents,
.start-page {
  position: fixed;
  top: 40px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  overflow: auto;
}
.start-page {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
</style>
