<template>
  <div>
    <div
      class="dropArea"
      :class="{ active: this.$store.state.dragOver }"
      id="dropArea"
      @drop="drop"
    >
      <div class="drop-info">
        <v-icon name="arrow-alt-circle-down" />
        <h3>
          Drop files on me!
        </h3>
      </div>
    </div>
  </div>
</template>

<script>
import { ipcRenderer } from 'electron'

export default {
  methods: {
    drop (e) {
      e.preventDefault()

      let arr = []
      for (const file of e.dataTransfer.files) {
        arr.push(file.path)
      }

      ipcRenderer.send('dropped-files', arr)
      this.$store.commit('setDragOver', false)
    }
  }
}
</script>

<style scoped>
.dropArea {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  transition: all 200ms ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  /* background-color: rgba(0, 0, 0, 0.5); */
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
  visibility: visible;
  opacity: 100;
}

.drop-info {
  transition: all 200ms ease-out;
  font-size: 40px;
}

.fa-icon {
  width: auto;
  height: 4em;
}
</style>
