<template>
  <div class="fileCard">
    <div class="message has-background-grey-darker has-text-white">
      <div class="message-header">
        <div class="filename">
          <div class="fileIcon is-pulled-left">
            <span
              class="fiv-viv fiv-size-md"
              :class="getIcon"
            />
          </div>
          <div class="is-size-7 has-text-weight-normal">{{ file.dir }}/</div>
          <div class=""> {{ file.base }} </div>
        </div>
        <button
          class="button is-dark"
          @click="remove(index)"
        >
          <v-icon name="trash-alt" />
        </button>
      </div>
      <div class="fileItem message-body">
        <div class="">
          <template v-if="file.metadata">

            <h3 class="has-text-grey-light">General</h3>
            <file-card-metadata-item
              header="Duration"
              :msg="getDuration"
            />
            <file-card-metadata-item
              header="Bit rate"
              :msg="getBitrate"
            />

            <div
              v-for="(item, index) in file.metadata.streams"
              :key="index"
            >
              <file-card-metadata :file="item" />
            </div>
          </template>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import FileCardMetadata from './FileCardMetadata.vue'
import FileCardMetadataItem from './FileCardMetadataItem.vue'
import fileIcons from './fileIcons.js'
const fi = fileIcons
const msToTimecode = require('../ms-to-tc')


export default {
  components: {
    FileCardMetadata,
    FileCardMetadataItem
  },
  props: {
    file: {
      type: Object,
      required: true,
      default: function () {
        return {}
      }
    }
  },
  computed: {
    getIcon: function () {
      const cleanExt = this.$props.file.ext.substring(1)
      const filtered = fi.extensions.filter(fileIcon => fileIcon === cleanExt)
      if (filtered.length > 0) {
        const iconName = 'fiv-icon-' + cleanExt
        return iconName
      } else if (this.$props.file.isDir) {
        return 'fiv-icon-folder'
      } else {
        return 'fiv-icon-blank'
      }
    },
    getBitrate: function () {
      const bitrate = this.$props.file.metadata.format.bit_rate
      if (bitrate < Math.pow(10, 6)) {
        return Math.round((bitrate / 1000) * 100) / 100 + ' kb/s'
      }
      if (bitrate > Math.pow(10, 6) && bitrate < Math.pow(10, 9)) {
        return Math.round((bitrate / 1000 / 1000) * 100) / 100 + ' Mb/s'
      }
      if (bitrate > Math.pow(10, 9)) {
        return Math.round((bitrate / 1000 / 1000 / 1000) * 100) / 100 + ' Gb/s'
      }
    },
    getDuration: function () {
      const duration = this.$props.file.metadata.format.duration
      if (duration === undefined) {
        return '-'
      }
      const durSeconds = Math.floor(duration)
      const milis = Math.round((duration - durSeconds) * 1000)
      let seconds = parseInt(durSeconds % 60)
      let minutes = parseInt((durSeconds / 60) % 60)
      let thedur = ""
      if (minutes !== 0) {
        thedur += `${minutes}m `
      }
      if (seconds !== 0) {
        thedur += `${seconds}s `
      }
      if (milis !== 0) {
        thedur += `${milis}ms `
      }
      return `${thedur}`
    }
  },
  methods: {
    // eslint-disable-next-line
    remove(index) {
      this.$store.commit({
        type: 'removeFile',
        path: index
      })
    }
  }
}
</script>

<style>
.fileCard {
  margin-bottom: 15px;
}
.filename {
  word-break: break-word;
  width: 70%;
}
.fileIcon {
  margin-right: 15px;
}
</style>
