<template>
  <div class="columns is-marginless">
    <div
      v-for="(file, index) in files"
      :key="index"
      class="column"
    >
      <FileCard
        :file="file"
        :index="index"
      />
    </div>
  </div>
</template>

<script>
import FileCard from './FileCard.vue'
import { mapGetters } from 'vuex'

export default {
  components: {
    FileCard
  },
  computed: {
    ...mapGetters(['files'])
  }
}
</script>

<style>
</style>
