<template>
  <div>
    <div v-if="file.codec_type === 'video'">
      <h3 class="has-text-grey-light">Video</h3>
      <file-card-metadata-item
        header="Resolution"
        :msg="getResolution"
      />
      <file-card-metadata-item
        header="Codec"
        :msg="file.codec_name"
      />
      <file-card-metadata-item
        header="Four CC"
        :msg="file.codec_tag_string"
      />
      <file-card-metadata-item
        header="Frame Rate"
        :msg="getFramerate"
      />
      <file-card-metadata-item
        header="Field Order"
        :msg="file.field_order"
      />
      <file-card-metadata-item
        header="Color Space"
        :msg="file.color_space"
      />
      <file-card-metadata-item
        header="Bit Depth"
        :msg="getBitDepth"
      />
      <file-card-metadata-item
        header="Aspect Ratio"
        :msg="getAspect"
      />
      <file-card-metadata-item
        header="Pixel Aspect Ratio"
        :msg="file.sample_aspect_ratio"
      />
      <file-card-metadata-item
        header="Duration"
        :msg="getDurationTC"
      />
    </div>
    <div v-if="file.codec_type === 'audio'">
      <h3 class="has-text-grey-light">Audio</h3>
      <file-card-metadata-item
        header="Codec"
        :msg="file.codec_long_name"
      />
      <file-card-metadata-item
        header="Channels"
        :msg="getChannels"
      />
      <file-card-metadata-item
        header="Bit Depth"
        :msg="getBitDepth"
      />
      <file-card-metadata-item
        header="Sample Rate"
        :msg="getSampleRate"
      />
      <file-card-metadata-item
        header="Duration"
        :msg="file.duration"
      />
    </div>
  </div>
</template>

<script>
import FileCardMetadataItem from './FileCardMetadataItem.vue'
const msToTimecode = require('../ms-to-tc')

export default {
  name: 'FileCardMetadata',
  components: {
    FileCardMetadataItem
  },
  props: {
    file: {
      type: Object,
      required: true,
      default: function () {
        return {}
      }
    },
    index: {
      type: Number,
      default: 0
    }
  },
  computed: {
    getDurationTC: function () {
      const fps = this.file.r_frame_rate.split('/')[0]
      const duration = this.file.duration * 1000
      const tcDur = msToTimecode(duration, fps)
      return `${tcDur} (${this.file.nb_frames} frames)`
    },
    getResolution: function () {
      return this.file.width + 'x' + this.file.height
    },
    getFramerate: function () {
      const speed = this.file.r_frame_rate.split('/')[0]
      return `${speed} fps`
    },
    getAspect: function () {
      const aspect = this.file.width / this.file.height
      if (aspect === (16 / 9)) {
        return '16:9'
      }
      return this.file.display_aspect_ratio
    },
    getBitDepth: function () {
      if (this.file.bits_per_raw_sample) {
        return `${this.file.bits_per_raw_sample}-bit`
      } else if (this.file.bits_per_sample) {
        return `${this.file.bits_per_sample}-bit`
      }
    },
    getChannels: function () {
      return `${this.file.channels} (${this.file.channel_layout})`
    },
    getSampleRate: function () {
      return `${this.file.sample_rate} Hz`
    }
  }
}
</script>

<style scoped>
</style>
