<template>
  <div class="md-item has-text-white">
    <span class="md-item-header">{{ header }}</span>
    <span v-if="msg">{{ msg }}</span>
    <span v-else>-</span>
  </div>
</template>

<script>
export default {
  props: {
    header: {
      type: String,
      required: true,
      default: ''
    },
    msg: {
      type: String,
      required: true,
      default: ''
    },
    index: {
      type: Number,
      default: 0
    }
  },
  name: 'FileCardMetadataItem'
}
</script>

<style>
.md-item {
  border: 1px solid #4a4a4a;
  border-radius: 4px;
  margin-bottom: 10px;
}

.md-item-header {
  width: 40%;
  background: #4a4a4a;
  color: #fff;
  display: inline-block;
}

.md-item span {
  padding: 5px 7px;
  display: inline-block;
  word-break: break-word;
}
</style>
