<template>
  <button @click="openFile"><v-icon :name="icon" :scale=iconSize />{{ text }}</button>
</template>

<script>
import { ipcRenderer } from 'electron'

export default {
  props: {
    icon: String,
    iconSize: String,
    text: {
      type: String,
      required: false,
      default: ""}
  },
  methods: {
    openFile () {
      ipcRenderer.send('open-file-dialog')
    }
  }
}
</script>

<style>
</style>
