<template>
  <div
    id="app"
    @dragenter="dragover"
    @dragover="dragover"
    @dragleave="leave"
  >
    <div class="titlebar">
      <div class="title is-size-6 has-text-white">Clouseau</div>
    </div>

    <app-contents :class="{ blur: this.$store.state.dragOver }" />
    <drop-area />
  </div>
</template>

<script>
import AppContents from './components/AppContents.vue'
import DropArea from './components/DropArea.vue'
import { ipcRenderer } from 'electron'

export default {
  name: 'App',
  components: {
    AppContents,
    DropArea
  },
  created: function () {
    ipcRenderer.on('selected-files', (event, selectedFiles) => {
      this.$store.dispatch('addFile', selectedFiles)
    })
  },
  methods: {
    dragover (e) {
      this.$store.commit('setDragOver', true)
    },
    leave () {
      this.$store.commit('setDragOver', false)
    }
  }
}

document.ondragover = document.ondrop = ev => {
  ev.preventDefault()
}
</script>

<style>
:root {
  --yellow: #fec91b;
  --yellow-light: #fee182;
  --yellow-dark: #745c0d;
  --bgcolor: #232323;
  --grey-darker: #2b2b2b;
  --grey-dark: #404040;
  --grey-mid: #636363;
  --grey-light: #909090;
  --grey-lighter: #afafaf;
  --grey-lightest: #d6d6d6;
  --bg-infobox: rgba(255, 255, 255, 0.2);
}
html,
body {
  background: var(--bgcolor) !important;
  font: caption;
}
.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  position: fixed;
  top: 0;
  right: 0;
  left: 0px;
  height: 40px;
  text-align: center;
}

.title {
  margin-top: 8px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner,
::-webkit-resizer {
  background: transparent;
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#app {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.blur {
  filter: blur(2px);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app {
  /* Disable text selection, or your app will feel like a web page */
  -webkit-user-select: none;
  -webkit-app-region: drag;

  /* Smoother startup */
  animation: fadein 0.5s;
}
</style>
